*{
    padding:0px;
    margin:0px;
    }

  p{
    color: darkcyan;
    background-color: hsl(167, 45%, 80%);
    font-weight: 200;
    font-size: medium;
    font-family: cursive;
  }
  h1{
    text-align: center;
  }
  .content{
    h2{
      text-align: center;
      color: rgb(151, 43, 205);
      font: 200px;
      font-family:cursive;
      font-style: italic;
    }
    h3{
      text-align: center;
      background-color: white;
      color: rgb(151, 43, 205);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p{
      font-style: italic;
      font-weight: 200;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  }
  pre{
    color: rgb(128, 77, 104);
  }
  h1{
    color: rgba(60, 65, 121, 0.938);
  }
  img{
    margin-left: 100px;
  }
